<!-- <div class="container" *ngIf="board">
  번호 : {{board.biNum}}<br>
  제목 : {{board.biTitle}}<br>
  작성자 : {{board.biWriter}}<br>
  작성날짜 : {{board.biCredat}}<br>
  적성시간 : {{board.biCretim}}<br>
</div> -->

<div>
    <table class="table table-striped" *ngIf="board">
        <tr>
        <tr>
          <th>번호</th>
          <td>{{board.biNum}}</td>
          <th>조회수</th>
          <td>{{board.biCnt}}</td>
        </tr>
        <tr>
          <th>제목</th>
          <td colspan="2">{{board.biTitle}}</td>
        </tr>
        <tr>
          <th>작성자</th>
          <td colspan="2">{{board.biWriter}}</td>
        </tr>

        <tr>
          <th>작성내용</th>
          <td colspan="2"><textarea rows="10" cols="50">{{board.biContent}}</textarea></td>
          </tr>
          <tr>
          <th>작성일</th>
          <td colspan="2">{{board.biCredat}}</td>
          </tr>
          <tr>
            <th>작성시간</th>
            <td colspan="2">{{board.biCretim}}</td>
          </tr>
          <tr>
        </tr>
    </table>