<div class="container">
  <h2>게시물 등록</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>제목</th>
        <td><input type="text" id="title" [(ngModel)]="board.biTitle"></td>
      </tr>
      <tr>
        <th>내용</th>
        <td><textarea id="content" [(ngModel)]="board.biContent"></textarea></td>
      </tr>
      <tr>
        <th>작성자</th>
        <td><input type="text" id="writer" [(ngModel)]="board.biWriter"></td>
      </tr>
    </thead>
  </table>
  <button (click)="insertBoard()">저장</button>
</div>