<div>
  <label for="id">아이디</label>
  <input type="text" id="id"[(ngModel)]="us.uiId"><br>
  <label for="pwd">비밀번호</label>
  <input type="password" id="pwd"[(ngModel)]="us.uiPwd"><br>
  <label for="age">나이</label>
  <input type="number" id="age"[(ngModel)]="us.uiAge"><br>
  <button (click)="doJoin()">회원가입</button>
</div>
